<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Sueldo</th>
            <th>Edad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados">
            <td>{{ empleado.id }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>
              {{ empleado.sueldo | currency: "ARS" }}
            </td>
            <td *ngIf="empleado.edad >= 18">Es mayor de edad</td>
            <td *ngIf="empleado.edad <= 18">Es menor de edad</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->
